*{
	margin:0;
	padding:0;
    box-sizing: border-box;
}
body{
    width: 100%;
    margin: 0 auto;
    background-color:#01061A;
}
.nav-container{
    background-color: #01061A;
    border: #01061A;
    display: flex;
    justify-content: space-between;
}
.right-nav li ,.left-nav li {
    display: inline-block;
}
.right-nav li a, .left-nav li a{
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%;
    padding: 14px 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:#20B9A9;
}
.right-nav li a:hover, .left-nav li a:hover{
    background-color: rgb(113, 111, 107);
}
.right-nav li a{
    font-size: 30px;
}
.left-nav li a{
    font-size: 20px;
}
.graph1{
    background-color:#01061A;
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 15px 0;
    
}
.graph1 img{
    flex-wrap: wrap;
    display: inline-block;
	width:400px;
    height: 300px;
	padding:10px;
    margin: 10px;
   
}
.graph1 .btn{
    width: 180px;
    height: 40px;
    border-radius: 10px;
    display: block;
    margin-left: 120px;
    margin-top: 10px;
    text-align: center;
    font-size: 20px;
    background-color: aqua;
    color: black;
}